# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Often people dot want to push the spec file, but it's optional.
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypotheses/
.pytest_cache/
pytestdebuglog

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
.vscode/
.idea/
.DS_Store

# Bot Logs and temp files
bot_log.jsonl
*.log
python_installer.exe
python_embedded.zip
python_win/

# Config files (You might want to keep triggers.json as a template, 
# but ignore the actual live triggers if they have sensitive data)
# triggers.json
